[swift]
type = swift
user = {{getenv "OS_USERNAME"}}
key = {{getenv "OS_PASSWORD"}}
auth = {{getenv "OS_AUTH_URL"}}
domain =
tenant = {{getenv "OS_TENANT_NAME"}}
tenant_domain =
region = {{getenv "OS_REGION_NAME"}}
storage_url =
auth_version =

[s3]
type = s3
env_auth = false
access_key_id = {{getenv "AWS_ACCESS_KEY_ID"}}
secret_access_key = {{getenv "AWS_SECRET_ACCESS_KEY"}}
region = {{getenv "AWS_DEFAULT_REGION"}}
endpoint = {{getenv "AWS_ENDPOINT"}}
location_constraint = {{getenv "AWS_DEFAULT_REGION"}}
server_side_encryption = 
